.features {
  background-color: $primary-white-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;

  @media screen and (min-width: $tablet) and (max-width: 1199.9px) {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -30px;
    margin-bottom: -30px;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    gap: 30px;
  }
}

.features__item {
  margin-bottom: 30px;

  @media screen and (max-width: 767.9px) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2 - 30px);
    width: 50%;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: 270px;
    margin-left: 0;
  }
}

.features__bg {
  background-color: $primary-bg-color;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  @extend %centeredFlex;

  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: $primary-text-color;

  @media screen and (min-width: $mobile) {
    display: flex;
    justify-content: center;
  }
}

.features__lead {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $secondary-text-color;
}
