.page-footer {
  padding-top: 60px;

  padding-bottom: 60px;

  background-color: $secondary-bg-color;
}

.page-footer__position {
  display: flex;

  @media screen and (min-width: $low-mobile) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $mobile) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $tablet) {
    flex-flow: row wrap;
    justify-content: space-around;

    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: baseline;
  }
}

.page-footer__position-address {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $low-mobile) {
    align-items: center;
  }

  @media screen and (min-width: $mobile) {
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    align-items: flex-start;
  }
}

.page-footer__site-name {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 20px;
  letter-spacing: 0.03em;

  color: $primary-white-color;

  @media screen and (min-width: $low-mobile) {
    width: 154px;
    font-size: 24px;
    line-height: 1.16;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $mobile) {
    width: 154px;
    font-size: 24px;
    line-height: 1.16;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    width: 145px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.page-footer__color-name-site {
  color: $accent-text-color;
}

.page-footer__address {
  display: flex;
  flex-direction: column;
  width: 230px;
  font-style: normal;

  @media screen and (min-width: $low-mobile) {
    align-items: center;
  }

  @media screen and (min-width: $mobile) {
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    align-items: flex-start;
  }
}

.page-footer__office {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  color: $primary-white-color;
}

.page-footer__list {
  list-style: none;
}

.page-footer__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.page-footer__mail,
.page-footer__tel {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

.page-footer__social {
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  @media screen and (min-width: $tablet) {
    margin-top: 0;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 70px;
  }
}

.page-footer__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: $primary-white-color;

  @media screen and (min-width: $low-mobile) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $mobile) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: start;
  }
}

.page-footer__social-links {
  display: flex;
  list-style: none;
  width: 206px;
  height: 80x;
  gap: 10px;
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: $primary-bg-social;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-text-color;
  }
}

.page-footer__social-icon {
  fill: $primary-white-color;
  width: 20px;
  height: 20px;
}
