.footer-form {
  margin-top: 60px;

  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  color: $primary-white-color;

  @media screen and (min-width: $desktop) {
    justify-content: start;
  }
}

.footer-form__posotion-input {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.footer-form__input {
  width: 358px;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: $secondary-bg-color;
  color: $primary-white-color;

  @media screen and (min-width: $low-mobile) and (max-width: 479.9px) {
    width: 250px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199.9px) {
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.footer-form__input:focus-within {
  outline: none;
}

.footer-form__btn {
  @extend %centeredFlex;

  width: 200px;

  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  border: none;
  cursor: pointer;

  color: $primary-white-color;
  background-color: $accent-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  @media screen and (min-width: $desktop) {
    margin-left: 12px;
  }
}

.footer-form__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: $primary-white-color;
}
