.box-team-description {
  @media screen and (min-width: $low-mobile) {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: $mobile) {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team {
  background-color: $primary-bg-color;

  @media screen and (min-width: $low-mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: $primary-text-color;
}

.team__list {
  display: flex;
  flex-direction: column;
  list-style: none;

  gap: 30px;

  @media screen and (min-width: $low-mobile) {
    margin-top: 30px;
  }

  @media screen and (min-width: $mobile) {
    margin-top: 30px;
  }

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;

    margin-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: nowrap;
  }
}

.team__item {
  width: 270px;

  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $low-mobile) {
    width: 100%;
  }

  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3);
    width: 50%;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
    flex-basis: calc(100% / 4);
    justify-content: center;
  }
}

.team__photo {
  display: block;
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;

  color: $primary-text-color;
}

.team__titul {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;

  color: $secondary-text-color;
}

.team__social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
  list-style: none;
}

.team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: $primary-company-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-text-color;
    fill: $primary-white-color;
  }
}

.team__social-icon {
  width: 20px;
  height: 20px;
}
