$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-text-color: #2196f3;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$hero-bg-color: #c4c4c4;
$hero-btn-color: #188ce8;
$primary-bg-color: #f5f4fa;
$secondary-bg-color: #2f303a;
$primary-border-bottom: #ececec;
$primary-company-color: #afb1b8;
$primary-bg-social: #44454e;
$card-set-gap: 30px;
$icons-team-mobile: "teamcardIhorMobile", "teamcardMikhailoMobile",
  "teamcardMykolaMobile", "teamcardOlhaMobile";
